/*home page*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEDA6; 
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    color: rgb(42, 28, 5);
    text-decoration: none;
    margin-right: 10px;
}
.welcome {
    text-align: center;
    margin-top: 30px;
}

.welcome img {
    max-width: 100%;
    height: auto;
}
.stary-pets-label {
    background-color: #ff9933; 
    color: white;
    margin:5% 0;
    padding: 8px 16px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.category button,
.colors button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #725a36;
    color: white;
    cursor: pointer;
}

.category button.active {
    background-color: #2c2217;
}

.colors button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.gender label,
.sterilization label {
    margin: 5px;
    font-size: 14px;
}
.pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pet-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px; 
}
.pet-card img {
    max-width: 100%;
    height: auto;
}
.pet-card p {
    margin-top: 10px;
    color: #3b2b0b; 
}
.text-box {
  background-color: black;
  color: white;
  font-size: 50px;
  padding: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Add on */

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 102%;
}

.category,
.colors,
.gender,
.sterilization {
  display: flex;
  align-items: center;
}

.category button,
.color-btn {
  background-color: #ddd;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.category button.active,
.color-btn.active {
  background-color: #29cac5;
  color: white;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-card {
  width: 200px;
  margin: 10px;
  text-align: center;
  display: show; 
  text-decoration: none;
  color: inherit;
}

.pet-card img {
  width: 100%;
  height: auto;
}

.pet-card p {
  margin: 5px 0;
}

.pet-card p span {
  font-size: 14px;
}