/*myAddition*/

body {                                                  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFEDA6;                        /*สีbg*/
    padding-bottom: 50px;                               /* เพิ่มพื้นที่หน้าเว้บ ใต้กล่องข้อมูล */
}

.container {                                            /*ทำให้เมนูอยู่ตรงกลางหน้า*/
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {                                                 /*เมนูข้างบน*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 10px;
}

.notification {
    background-color: #ff9933;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

/* my addition */
.text-box {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .label-box {
        background-color: #ff9933; 
        margin: 5% 0;
        padding: 8px 16px;
        border-radius: 20px;
        display: inline-block;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }    
    .stary-pets-label {
        color: white;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    
    .pet-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pet-card {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 200px;
        height: 300px;
    }
    .pet-card img {
        max-width: 100%;
        height: auto;
    }
    .pet-card p {
        margin-top: 10px;
        color: #3b2b0b; 
    }
    
/* ปรับขนาดของปุ่ม */
.actions {                                          
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    padding: 10px; 
    margin-bottom: 20px;                        /* กำหนดระยะห่างด้านล่างของปุ่มกับขอบกล่อง */
}

/* ปรับขนาดของปุ่มแก้ไข */
.actions .edit{
    font-size: 30px;                            
    padding: 12px;
    color: #ffffff;
    border-radius: 50%;                         /* ทำให้เป็นวงกลม */
    background-color: #ea900a;                /* สีพื้นหลังของปุ่ม */
    border: none;                               /* ลบเส้นขอบ */
    margin-right: 30px;                         /* กำหนดระยะห่างด้านขวาระหว่างปุ่มลบ */
}

/* ปรับขนาดของปุ่มลบ */
.actions .delete {
    font-size: 30px; 
    padding: 12px;
    color: #ffffff;
    border-radius: 50%;                         /* ทำให้เป็นวงกลม */
    background-color: #ea0a0a;                /* สีพื้นหลังของปุ่ม */
    border: none;                               /* ลบเส้นขอบ */
    margin-top: 10px;                           /* ปรับระยะห่างด้านบนของทั้งสองปุ่ม */
    
}

/* ข้อความคอนเฟิมลบ */
.confirm-delete {
    display: none; /* เริ่มต้นซ่อนกล่อง */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 10px solid #ccc;                      /* ความหนาเส้นขอบกล่อง */
    border-radius: 80px;                            /* เพิ่มความโค้งให้กับกรอบ */
    padding: 40px;                                  /* ขนาดกล่องมั้ง ขยายขนาดอักษรแต่ถ้ากล่องเล้กก้ไม่มีไรเปี่ยน */
    z-index: 1000;                                  /* ให้กล่องนี้อยู่ด้านบนสุด */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);     /* เพิ่มเงา */

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#text1{
    color: #3b3b3b;
    font-size: 50px;
    font-weight: bold;
}

#text2{
    color: #3b3b3b;
    font-size: 30px;
}

.confirm-message {
    display: flex;
    align-items: center;                   /* ทำให้ข้อความอยุ่ตรงกลาง */
    flex-direction: column;                /* ทำให้เรียง2บรรทัดบนล่าง */
    margin-bottom: 10px;
}

.confirm-yes,.confirm-no {
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 20px;                    /* ระยะห่างระหว่าง2ปุ่ม */
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    flex: 1;                               /* ให้ปุ่มคงความกว้างเท่ากัน */
    margin-top: 20px;
}

.confirm-yes:hover {
    background-color: #ff3c3c;
}

.confirm-no:hover {
    background-color: #3c63ff;
}



