
/* PermissionForm */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFEDA6; 
}

.containerInfo {
  display: flex;
  align-items: flex-start;
  position: absolute;
}

.containerInfo img{
  margin-top: 20px;
  margin-left: 10px;
}

h1{
  font-size: 55px;
  margin-bottom: -30px;
}


#mainHouse{
  width: 65%; 
  height: 100%;
  position: relative;
  z-index: -2;
  /*
  width: 65%; 
  height: 50%;
  height: 100vh;*/ 
}

.HouseImages{
  z-index: -4;
  margin-left: -50px;
  margin-top: -20px;
  height: 105vh;
  width:80vw;
}

.HouseImages img{
  
  position: relative;
}

.location-icon img{
  width: 60%; 
  height: auto;
  position: fixed;
  }

.house-info{
    z-index: 1;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    margin-left: -450px;
    padding: 20px;
    position: relative;
    height: 100vh;
}

.location-container {
  display: flex; /* ให้ container เป็น Flexbox */
  align-items: center; /* จัดให้ภาพและข้อความอยู่กึ่งกลางตามแนวแกนตั้ง */
  margin-top: -30px;
}

.location-container img {
  width: 50px; 
  height: auto;
}

.address {
  font-size: 18px;
  display: flex; /* ให้ข้อความเป็น Flexbox */
  align-items: center; /* จัดให้ข้อความอยู่กึ่งกลางตามแนวแกนตั้ง */
  margin-left: 10px;
  margin-top: 20px;
  font-weight: bold;
}



.publish-alert {
  display: flex;
  align-items: center;
  margin-top: -100px;
}

.publish-alert img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.publish-alert span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0;
  font-weight: bold;
}

.publishStatus{
  margin-top: 45px;
  margin-right: auto;
  font-size: 1.0rem;
}

.status{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status span{
  font-size: 1.2rem;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.status img{
  width: 50px; 
  height: auto;
}

.Permission_pet-info {
  display: flex;
  width: 700px;
  height: 100px;
  background-color: #ffde59;
  border-radius: 80px; /* ปรับค่านี้เพื่อเปลี่ยนรูปร่างของวงรีโค้ง */ 
  align-items: center;
  margin-top: -70px;
}

.Permission_pet-info img{
  border-radius: 50%;
  width: 100px; 
  height: 100px;
  align-items: flex-start;
  position: relative;
  top: -10px;
  left: -15px;
}

.pet-short-info{
  flex: 1;
  display: flex;
  text-align: right;
  margin-left: 20px;

}

.breed-gender-sterilize {
  background-color: #ffbf00;
  display: flex;
  border-radius: 20cm;
  width: 500px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.size-age-colors {
  display: flex;
  font-size: 18px;
  margin-top: -50px;
}

.color-black {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.color-brown {
  background-color: brown;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.color-orange {
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.color-white{
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.Permission-behavior {
  margin-top: -30px;
  font-size: 18px;
  margin-top: -80px;
}

.PermissionBlock {
  margin-top: -80px; /* กำหนดระยะห่างด้านบน */
  margin-bottom: -80px; /* กำหนดระยะห่างด้านล่าง */
  font-weight: bold;
  font-size: 20px;
}

input[type="checkbox"] {
  width: 20px; /* กำหนดความกว้าง */
  height: 20px; /* กำหนดความสูง */
  
}

.PermissionBlock label {
  font-size: 18px; /* กำหนดขนาดตัวอักษร */
  margin-right: 20px;
}

.approve-btn{
  background-color: #c7726f;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: auto;
    width: 120px;
    height: 50px;
}


.slideshow-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.slide:first-child {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}