<!DOCTYPE html>
<html>
<head>
    <title>Stray Home</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='photo/strayhomelogo.jpg') }}"> <!-- Add favicon here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Homepage.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> <!-- Include SweetAlert library here -->
</head>
<body>
    <div class="container">   <!--รวมเนื้อหาในหน้าเว็บ-->
        <div class="header">  <!--รวมลิงก์ที่ไปยังเว็บต่างๆ-->
          <a href="{{ url_for('homepage') }}">
            <img src="{{ url_for('static', filename='photo/home.png') }}" alt="Home">
            </a>
            <a href="{{ url_for('addition') }}">ADD PET</a>              
            <a href="{{ url_for('myAddition') }}">MY ADDITION</a>
            {% if session.get('role') == 'admin' %}
            <a href="{{ url_for('StatusAdmin') }}">STATUS</a>
            {% else %}
            <a href="{{ url_for('statusUser') }}">STATUS</a>
            {% endif %}   
            {% if session.get('name') %}
                <a href="{{ url_for('myprofile') }}">Welcome, {{ session['name'] }}!</a>                
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="chat.html">Chat</a>
            {% else %}
                <a href="{{url_for('login')}}">Login</a>
            {% endif %}        
        </div>
        <div class="welcome">
            <img src="{{ url_for('static', filename='photo/startpage.jpg') }}" alt="Welcome Image">
        </div>
    <div class="text-box">
            <h2>STRAY HOME</h2>
        </div>
        <div class="filter">
            <div class="category">
                <button class="category-btn active" data-category="all">ALL</button>
                <button class="category-btn" data-category="cat">CAT</button>
                <button class="category-btn" data-category="dog">DOG</button>
            </div>
            <div class="colors">
                <button class="color-btn active" style="background-color: Red; background-image: linear-gradient(to right, Red, Orange, Yellow, Green, Blue, Indigo, Violet);" value="all"></button>
                <button class="color-btn" style="background-color: black;" value="black"></button>
                <button class="color-btn" style="background-color: brown;" value="brown"></button>
                <button class="color-btn" style="background-color: orange;" value="orange"></button>
                <button class="color-btn" style="background-color: white; border: 1px solid rgb(207, 207, 207);" value="white"></button>
            </div>

            <div class="gender">
                <label>
                    <input type="radio" name="gender" value="all" checked> ALL
                </label>
                <label>
                    <input type="radio" name="gender" value="male"> MALE
                </label>
                <label>
                    <input type="radio" name="gender" value="female"> FEMALE
                </label>
            </div>
            <div class="sterilization">
                <label>
                    <input type="radio" name="sterilization" value="all" checked> ALL
                </label>
                <label>
                    <input type="radio" name="sterilization" value="yes"> YES
                </label>
                <label>
                    <input type="radio" name="sterilization" value="no"> NO
                </label>
            </div>
        </div>
        <div class="stary-pets-label">ALL STARY PETS</div>
        <div class="pet-list">
            
        </div>
    </div>

    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const petList = document.querySelector('.pet-list');

            

            // Function to filter pets
            function filterPets(category, color, gender, sterilization) {
                Swal.fire({
                    title: 'Loading content...',
                    onBeforeOpen: () => {
                        Swal.showLoading()
                    },
                    showConfirmButton: false
                });
                fetch(`/filter?category=${category}&color=${color}&gender=${gender}&sterilization=${sterilization}`)
                    .then(response => response.json())
                    .then(data => {
                        Swal.close();
                        petList.innerHTML = '';
                        data.forEach(pet => {
                            const petCard = document.createElement('a');
                            petCard.href = `/petprofile?PetID=${pet.PetID}`;
                            petCard.classList.add('pet-card');

                            const img = document.createElement('img');
                            img.src = `/static/photo/${pet.ImageID ? pet.ImageID : 'pet_image_1'}.jpg`;
                            img.alt = `${pet.name} Image`;
                            petCard.appendChild(img);

                            const p = document.createElement('p');
                            p.innerHTML = `${pet.name} ${pet.gender === 'female' ? '<span>&female;</span>' : '<span>&male;</span>'}`;
                            petCard.appendChild(p);

                            petList.appendChild(petCard);
                        });

                    })
                    .catch(error => {
                        Swal.close();  // Close loading spinner
                        console.error('Error:', error);
                    });            }

            // Set initial state
            filterPets('all', 'all', 'all', 'all');

            // Function to toggle active class on category buttons
            const categoryButtons = document.querySelectorAll('.category-btn');
            categoryButtons.forEach(button => {
                button.addEventListener('click', () => {
                    categoryButtons.forEach(btn => btn.classList.remove('active'));
                    button.classList.add('active');
                    const selectedColor = document.querySelector('.color-btn.active').getAttribute('value');
                    const gender = document.querySelector('.gender input[type="radio"]:checked').value;
                    const sterilization = document.querySelector('.sterilization input[type="radio"]:checked').value;
                    filterPets(button.getAttribute('data-category'), selectedColor, gender, sterilization);
                });
            });

            // Function to toggle active class on color buttons
            const colorButtons = document.querySelectorAll('.color-btn');
            colorButtons.forEach(button => {
                button.addEventListener('click', () => {
                    colorButtons.forEach(btn => btn.classList.remove('active'));
                    button.classList.add('active');
                    const category = document.querySelector('.category-btn.active').getAttribute('data-category');
                    const gender = document.querySelector('.gender input[type="radio"]:checked').value;
                    const sterilization = document.querySelector('.sterilization input[type="radio"]:checked').value;
                    filterPets(category, button.getAttribute('value'), gender, sterilization);
                });
            });

            // Add event listener to gender radio buttons
            const genderRadios = document.querySelectorAll('.gender input[type="radio"]');
            genderRadios.forEach(radio => {
                radio.addEventListener('change', () => {
                    const category = document.querySelector('.category-btn.active').getAttribute('data-category');
                    const selectedColor = document.querySelector('.color-btn.active').getAttribute('value');
                    const sterilization = document.querySelector('.sterilization input[type="radio"]:checked').value;
                    filterPets(category, selectedColor, radio.value, sterilization);
                });
            });

            // Add event listener to sterilization radio buttons
            const sterilizationRadios = document.querySelectorAll('.sterilization input[type="radio"]');
            sterilizationRadios.forEach(radio => {
                radio.addEventListener('change', () => {
                    const category = document.querySelector('.category-btn.active').getAttribute('data-category');
                    const selectedColor = document.querySelector('.color-btn.active').getAttribute('value');
                    const gender = document.querySelector('.gender input[type="radio"]:checked').value;
                    filterPets(category, selectedColor, gender, radio.value);
                });
            });
        });
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
          if ('{{ category }}' == 'success') {
              Swal.fire({
                  icon: 'success',
                  title: '{{ message }}',
                  showConfirmButton: true
              })
    
          } else if ('{{ category }}' == 'error') {
              Swal.fire({
                  icon: 'error',
                  title: '{{ message }}',
                  showConfirmButton: true
              })
          }
      </script>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>
