<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body style="background-image: url('{{ url_for('static', filename='photo/login/login-background.jpg') }}'); background-size: cover; background-position: center;">  
  <div class="login-container">
    <div class="login-box">
      <button class="close-btn" onclick="location.href='{{url_for('homepage')}}';"><img src="{{ url_for('static', filename='photo/login/close-icon.png') }}" alt="Home"></button>
      <!-- <button class="signin-btn" onclick="location.href='{{url_for('myprofile')}}';">Sign in</button> -->
      <h1>LOGIN</h1>
      <p class="small-text">New user? <a href="{{url_for('register')}}" style="color: rgb(168, 75, 75);">Create new account</a></p>
      <form method="POST" action="{{ url_for('login') }}">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Login" class="signin-btn">      
      </form>    
    </div>
  </div>

  <script>
    let userName = "";
    let password = "";

    function signIn() {
      // Code to validate username and password and sign in
      // Redirect to Myprofile.html if successful
      window.location.href = "{{url_for('myprofile')}}";
    }
  </script>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <script>
      if ('{{ category }}' == 'success') {
        Swal.fire({
          icon: 'success',
          title: '{{ message }}',
          text: 'Welcome, {{ session.get("name", "Guest") }}.',
          showCancelButton: true,
          confirmButtonText: 'Go to Homepage',
          cancelButtonText: 'Go to My Profile',
          reverseButtons: true
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "{{ url_for('homepage') }}";
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            window.location.href = "{{ url_for('myprofile') }}";
          }
        })
      } else if ('{{ category }}' == 'error') {
          Swal.fire({
              icon: 'error',
              title: '{{ message }}',
              showConfirmButton: true
          })
      }
      else if ('{{ category }}' == 'info'){
        Swal.fire({
            icon: 'info',
            title: '{{ message }}',
            showConfirmButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{{ url_for('login') }}";
            }
        })
      }
      else if ('{{ category }}' == 'question'){
        Swal.fire({
          icon: 'warning',
          title: '{{ message }}',
          confirmButtonText: 'Go to Status Page'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "{{ url_for('StatusAdmin') }}";
          }
        })
      }
  </script>
    {% endfor %}
{% endif %}
{% endwith %}
</body>
</html>
