<!DOCTYPE html>
<html>
<head>
    <title>Stray Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Status.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> <!-- Include SweetAlert library here -->
</head>
<body>
    <div class="container">
      <div class="header">  <!--รวมลิงก์ที่ไปยังเว็บต่างๆ-->
        <a href="{{ url_for('homepage') }}">
          <img src="{{ url_for('static', filename='photo/home.png') }}" alt="Home">
          </a>
          <a href="{{ url_for('addition') }}">ADD PET</a>              
          <a href="{{ url_for('myAddition') }}">MY ADDITION</a>
          {% if session.get('role') == 'admin' %}
            <a href="{{ url_for('StatusAdmin') }}">STATUS</a>
            {% else %}
            <a href="{{ url_for('statusUser') }}">STATUS</a>
            {% endif %}
          {% if session.get('name') %}
              <a href="{{ url_for('myprofile') }}">Welcome, {{ session['name'] }}!
                <img src="photo/user.png" alt="user">
              </a>                
              <a href="{{ url_for('logout') }}">Logout</a>
          {% else %}
              <a href="{{url_for('login')}}">Login</a>
          {% endif %}        
      </div>

        <div class="text-box">
            <h2>STATUS</h2>
            <p style="font-size: 12px;">ADMIN<br><br><br><br><br><br><br></p>
        </div>

        <div class="container">
            <div class="option">
                <input type="radio" id="request" name="action" value="request">
                <label for="request">REQUEST</label>
            </div>
            <div class="option">
                <input type="radio" id="approve" name="action" value="approve">
                <label for="approve">APPROVE</label>
            </div>
        </div>

        <br>

        <table id="petTable">
            <tr>
                <th>Name</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>FILE</th>
            </tr>
            {% for request in requests %}
          <tr>
              <td>{{ request.name }}</td>
              <td>{{ request.date }}</td>
              <td>{{ 'Approved' if request.approve_request else 'Pending' }}</td>
              <td>
                <a href="{{url_for('PermissionFormAdmin', requestID=request.requestID) }}">
                    <img src="{{ url_for('static', filename='photo/folder.png') }}">
                </a>
              </td>
          </tr>
          {% endfor %}
        </table>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var radioButtons = document.getElementsByName("action");
            var petTableRows = document.querySelectorAll("#petTable tr");
    
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].addEventListener("change", function () {
                    var value = this.value;
                    petTableRows.forEach(function (row) {
                        if (value === "approve" && row.cells[2].textContent === "Pending") {
                            row.style.display = "none";
                        } else if (value === "request" && row.cells[2].textContent === "Approved") {
                            row.style.display = "none";
                        } else {
                            row.style.display = "";
                        }
                    });
                });
            }
        });
    </script>
    

</body>
</html>
